In [1]:
# Carrega a extensão sql, utilizada para estabelecer a conexão com o banco de dados que iremos criar
%load_ext sql

In [2]:
# Estabelece conexão com o banco de dados (cria o banco de dados caso ele não exista)

%sql sqlite:///mydb.db

In [3]:
%%sql

-- Cria a tabela CLIENTE:

CREATE TABLE CLIENTE (
    CLIENTE_ID INTEGER PRIMARY KEY,
    NOME TEXT NOT NULL,
    EMAIL TEXT NOT NULL UNIQUE,
    TELEFONE TEXT NOT NULL UNIQUE
);

 * sqlite:///mydb.db
Done.

[]

In [4]:
%%sql

-- Insere dados na tabela CLIENTE

INSERT INTO CLIENTE (NOME, EMAIL, TELEFONE) 
VALUES
    ('Leonardo' , 'leonardo@gmail.com', '9999-9999' ),
    ('Rafael' , 'rafael@gmail.com', '9889-8998' ),
    ('Michelangelo' , 'michelangelo@gmail.com', '9997-7999' ),
    ('Donatello' , 'donatello@gmail.com', '9777-7779' );

 * sqlite:///mydb.db
Done.

[]

In [5]:
%%sql

-- Consulta os dados da tabela CLIENTE

SELECT * FROM CLIENTE

 * sqlite:///mydb.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779')]

In [6]:
# Para carregar os dados da tabela em um pandas data frame
import pandas as pd
import sqlite3

In [7]:
# Estabelece a conexão com o banco de dados
# conn_sqlite = sqlite3.connect("../database/mydb.db")
conn_sqlite = sqlite3.connect("mydb.db")

In [8]:
# Faz a leitura da tabela:
query = '''
SELECT * FROM CLIENTE
'''
df_cliente = pd.read_sql(sql=query, con=conn_sqlite)

In [9]:
# Visualiza a tabela:

df_cliente.head()

   CLIENTE_ID          NOME                   EMAIL   TELEFONE
0           1      Leonardo      leonardo@gmail.com  9999-9999
1           2        Rafael        rafael@gmail.com  9889-8998
2           3  Michelangelo  michelangelo@gmail.com  9997-7999
3           4     Donatello     donatello@gmail.com  9777-7779

In [10]:
# Para inserir dados numa tabela existente:

# Cria um data frame para o exemplo

df_novos_clientes = pd.DataFrame({
    'NOME': ['Mestre Splinter', 'Destruidor'],
    'EMAIL': ['splinter@gmail.com', 'destruidor@gmail.com'],
    'TELEFONE': ['9887-8787', '9778-8899']
})

df_novos_clientes.head()

              NOME                 EMAIL   TELEFONE
0  Mestre Splinter    splinter@gmail.com  9887-8787
1       Destruidor  destruidor@gmail.com  9778-8899

In [11]:
df_novos_clientes.to_sql('CLIENTE', con=conn_sqlite, if_exists='append', index=False)

2

In [12]:
%%sql

SELECT * FROM CLIENTE

 * sqlite:///mydb.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779'),
 (5, 'Mestre Splinter', 'splinter@gmail.com', '9887-8787'),
 (6, 'Destruidor', 'destruidor@gmail.com', '9778-8899')]

In [13]:
# Se o objetivo fosse criar uma nova tabela, por exemplo NOVOS_CLIENTES...

df_novos_clientes.to_sql('NOVOS_CLIENTES', con=conn_sqlite, index=False)

2

In [14]:
%%sql

SELECT * FROM NOVOS_CLIENTES

 * sqlite:///mydb.db
Done.

[('Mestre Splinter', 'splinter@gmail.com', '9887-8787'),
 ('Destruidor', 'destruidor@gmail.com', '9778-8899')]

In [15]:
# É possível substituir uma tabela:

df_novos_clientes.to_sql('CLIENTE', con=conn_sqlite, if_exists='replace', index=False)

2

In [16]:
%%sql

SELECT * FROM CLIENTE

 * sqlite:///mydb.db
Done.

[('Mestre Splinter', 'splinter@gmail.com', '9887-8787'),
 ('Destruidor', 'destruidor@gmail.com', '9778-8899')]