In [1]:
# Carrega a extensão sql, utilizada para estabelecer a conexão com o banco de dados que iremos criar
%load_ext sql

In [2]:
# Conecta-se com o banco de dados mydb.db (cria ele caso ainda não exista)
%sql sqlite:///../database/mydb.db

In [3]:
%%sql

-- Cria a tabela CLIENTE

CREATE TABLE CLIENTE ( 
	CLIENTE_ID INTEGER PRIMARY KEY,
	NOME TEXT NOT NULL,
	EMAIL TEXT NOT NULL UNIQUE,
	TELEFONE TEXT NOT NULL UNIQUE
);

 * sqlite:///../database/mydb.db
Done.

[]

In [4]:
%%sql

-- Insere dados na tabela CLIENTE

INSERT INTO CLIENTE (CLIENTE_ID, NOME, EMAIL, TELEFONE) 
VALUES( 1 , 'Leonardo' , 'leonardo@gmail.com', '9999-9999' );

INSERT INTO CLIENTE (CLIENTE_ID, NOME, EMAIL, TELEFONE) 
VALUES( 2 , 'Rafael' , 'rafael@gmail.com', '9889-8998' );

INSERT INTO CLIENTE (CLIENTE_ID, NOME, EMAIL, TELEFONE) 
VALUES( 3 , 'Michelangelo' , 'michelangelo@gmail.com', '9997-7999' );

INSERT INTO CLIENTE (CLIENTE_ID, NOME, EMAIL, TELEFONE) 
VALUES( 4 , 'Donatello' , 'donatello@gmail.com', '9777-7779' );

 * sqlite:///../database/mydb.db
Done.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [5]:
%%sql

-- Consulta os dados da tabela CLIENTE

SELECT * FROM CLIENTE

 * sqlite:///../database/mydb.db
Done.

[(1, 'Leonardo', 'leonardo@gmail.com', '9999-9999'),
 (2, 'Rafael', 'rafael@gmail.com', '9889-8998'),
 (3, 'Michelangelo', 'michelangelo@gmail.com', '9997-7999'),
 (4, 'Donatello', 'donatello@gmail.com', '9777-7779')]